.button1{
    background: rgb(148,93,214);
    background: linear-gradient(90deg, rgba(148,93,214,1) 0%, rgba(105,120,209,1) 33%, rgba(19,119,199,1) 100%);
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    border: 0;
    font-weight: 600;
    font-family: Poppins;
    transition-duration: 0.5s;
    color: aliceblue;
}
.button1:hover{
    scale: 110%;
    transition-duration: 0.5s;
    translate: 0px -4px;
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(148,93,214,1);
}